* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ant-menu-title-content:empty {
  display: none;
}

.menu .ant-menu-item {
  padding:  0 25px;
}

.message-list {
  height: 80vh;
}

.rce-container-input {
  margin-top: 10px;
}


img[alt='User Avatar'] + .ant-image-mask {
  border-radius: 50%;
}

#normal_login .login-form-forgot {
  float: right;
}

.swiper {
  width: 240px;
  height: 320px;
}

.swiper-slide {
  border-radius: 18px;
}